:root {
  --first-color-logo: #4d5ae5;
  --second-color-logo: #2e2f42;
  --background-color: #ffffff;
  --fond-family-color: #434455;
  --logo-color-on-dark: #f4f4fd;
  --background-color-footer: #2e2f42;
  --background-color-hero: #2e2f42;
  --secondary-title-color:#2e2f42;
  --text-description-color:#434455;
  --color-button-portfolio: #4d5ae5;
  --backgraund-color-button-portfolio: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--fond-family-color);
  font-style: normal;
  background-color: var(--background-color);
}

/* Компоненты */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.secondary-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}
.text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-description-color)
}

/* Шапка */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color-logo);
}
.element {
  color: var(--second-color-logo);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color-logo);
}
.contact-link {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fond-family-color);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
/* Заголовок, главный экран */
.hero-titel {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero {
  background-color: var(--background-color-hero);
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: #404bbf;
}
/* Презентация и специалисты*/

.secondary-title-cection {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

}
.section-spesialist{
  background-color: #F4F4FD;
}
.bottom-background {
  background-color: #FFFFFF;
}
/* Футер */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color-logo);
}
.element-on-dark {
  color: var(--logo-color-on-dark);
}
.footer {
  background-color: var(--background-color-footer);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-color-on-dark);
}
.list-button-properties {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--color-button-portfolio);
  background-color: var(--backgraund-color-button-portfolio);
  cursor: pointer;
  }
.list-button-properties:hover,
.list-button-properties:focus {
  background: #404bbf;
  color: #ffffff;
}
